<template>
  <div id="quizop">
    <div v-if="isQuizStarted">
      <h4>{{ operandLeft }} {{ operator }} {{ operandRight }}</h4>

      <button
        @click="selectAnswer(answer)"
        v-for="answer in answers"
        :key="answer"
      >
        {{ answer }}
      </button>
    </div>

    <button v-else @click="startQuiz">Start</button>

    <button @click="$emit('onBack')">Back</button>
  </div>
</template>

<script>
export default {
  props: ["operator"],
  data() {
    return {
      isQuizStarted: false,
      operandLeft: null,
      operandRight: null,
      answers: [],
      expectedAnswer: null,
    };
  },
  mounted() {},
  methods: {
    startQuiz() {
      this.isQuizStarted = true;

      this.operandLeft = parseInt(Math.random() * 13);
      this.operandRight = parseInt(Math.random() * 13);

      const methods = {
        "+": (a, b) => a + b,
        "-": (a, b) => a - b,
        "/": (a, b) => a / b,
        "*": (a, b) => a * b,
      };

      const methodToUse = methods[this.operator];

      this.answers = [];

      this.answers.push(methodToUse(this.operandLeft, this.operandRight + 1));
      this.answers.push(methodToUse(this.operandLeft + 1, this.operandRight));
      this.answers.push(
        methodToUse(this.operandLeft + 1, this.operandRight + 1)
      );
      this.answers.push(
        methodToUse(this.operandLeft - 1, this.operandRight + 1)
      );
      this.answers.push(
        methodToUse(this.operandLeft - 1, this.operandRight - 1)
      );
      this.expectedAnswer = methodToUse(this.operandLeft, this.operandRight);
      this.answers[
        parseInt(Math.random() * this.answers.length)
      ] = this.expectedAnswer;
    },
    selectAnswer(answerSelected) {
      if (answerSelected !== this.expectedAnswer) {
        alert("Wrong answer");
      }
      this.startQuiz();
    },
  },
};
</script>

<style>
.quizop {
  display: flex;
  flex-direction: column;
}
</style>