<template>
  <h1>Math Quiz App</h1>
  <OperatorQuiz v-if="operator" :operator="operator" @onBack="clearOperator" />
  <OperatorSelector v-if="!operator" @changeOperator="changeOperator" />
</template>

<script>
import OperatorSelector from "./components/OperatorSelector.vue";
import OperatorQuiz from "./components/OperatorQuiz.vue";

export default {
  name: "App",
  data() {
    return {
      operator: null,
    };
  },
  components: { OperatorSelector, OperatorQuiz },
  methods: {
    changeOperator(operator) {
      this.operator = operator;
    },
    clearOperator() {
      this.operator = null;
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  font-size: 24px;
}

button {
  padding: 10px;
  width: 160px;
  height: 80px;
  margin-right: 10px;
  background: #10aeb2;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  vertical-align: middle;
}
</style>
